name: Deploy Checker Job

on:
  push:
    branches: [main]
  release:
    types: [published]

jobs:
  build_image:
    uses: ./.github/workflows/deploy-build-image.yml
    with:
      environment_name: ${{ github.event_name == 'release' && 'prod' || 'dev' }}
      project_id: ${{ github.event_name == 'release' && 'is-it-down-prod' || 'is-it-down-dev' }}
      region: us-central1
      image_tag: ${{ github.sha }}
    secrets: inherit

  terraform_apply:
    needs: build_image
    uses: ./.github/workflows/deploy-terraform-apply.yml
    with:
      environment_name: ${{ github.event_name == 'release' && 'prod' || 'dev' }}
      workspace: ${{ github.event_name == 'release' && 'prod' || 'dev' }}
      image_tag: ${{ github.sha }}
      terraform_dir: infra/terraform
    secrets: inherit
